APPLE_ID=you@example.com
APPLE_ID_PASSWORD=your-app-specific-password
DEVELOPER_ID_APPLICATION="Developer ID Application: Example Company (ABCDEFGHIJ)"
TEAM_ID=ABCDEFGHIJ
NOTARY_PROFILE=RecoNotary
GH_REPO=owner/Reco
